*{
  background:black;
  }
  .navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 50px;
  color:white;
  
  }
  .navbar button{
  color:white;
  background:#1ba0de;
  }
  .navbar ul{
  list-style:none;
  display:flex;
  gap:20px;
  }
  .navbar ul li {
   list-style:none;
  }
   .navbar ul li a{
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
   .navbar ul li a:hover{
  
     color:red;
   }
 .name{
 margin-left: 750px;
 margin-top: 150px;
 }
 .name-con{
  line-height: 0.3;
 }
#p01{
  font-size:18;
  color:#1ba0de;
 }
 #p02{
 font-size:50;
 color:white;
 font-family: "Lucida Console", "Courier New", monospace;
 }
  #p03{
 font-size:50;
 color:#1ba0de;
 font-family: "Lucida Console", "Courier New", monospace;
 }
 #p04{
 line-height: 1.5;
 color:white;
 }
 .image{
  max-width: 300px;
   border-radius: 15px;
   margin-left: 190px;
   margin-top: -320px;
 }
